body{
    background-color: #f8e8dd;

}

.container{
    margin-top: 3rem;
    height: calc(100vh - 50px);
    width: 100%;

}

.wrapper{
    max-width: 1180px;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.wrapper > h3{
    margin-top: 2%;
    font-weight: 700;
    font-size: 90px;
    color: #222;
    text-align: left;
    justify-content: left;
}

.wrapper > h2{
    margin-top: 2%;
    font-size: 30px;
    color: #000000;
    font-weight: 400;
    text-align: left;
    justify-content: left;
}

/* featuredBlogs.module.css */

.loginMessage > p {
    background-color: #222;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    color: #f8e8dd;
    font-weight: 300;
    display: inline-block;
    border-radius: 50px;
  }
  
  .loginMessage span{
    font-weight: 500;
    color: #ffcfaf;

  }

.loginMessage a{
    color:#ffcfaf;
    text-decoration: none;
    transition: 0.1s ease-in-out;

}

.wrapper a:hover{
    color: #ffcfaf;
    font-weight: 500;
}


.wrapper > .blogs{
    display: flex;
    align-items: center;
    gap: 5rem;
}

/* left */
.left{
    flex: 2;
    height: 100%;
}

.left > .mainBlog{
    height: 100%;
    position: relative;
}

.left > .mainBlog > img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.categoryAndMetadata{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1.25rem;
}

.category{
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 0.25rem 1.25rem;
}

.metadata{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.left > .mainBlog > .mainBlogData{
    position: absolute;
    bottom: 2.5rem;
    color: #fff;
    padding: 0 1rem;
}

.left > .mainBlog > .mainBlogData > h4{
    font-size: 32px;
    margin-bottom: 0.75rem;
}

.blogDesc{
    font-size: 18px;
    color: #e2dede;
    margin-bottom: 1rem;
}

.authorAndCreatedAt{
    display: flex;
    justify-content: space-between;
}

.left > .mainBlog > .mainBlogData > .authorAndCreatedAt > span > span{
    font-size: 17px;
    color: #efefef;
    font-weight: bold;
}

/* right */
.right{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.right > .secondaryBlog{
    height: 50%;
    width: 92.5%;
    position: relative;
}

.right > .secondaryBlog > img{
    border-radius: 10px;
    height: 100%;
    width: 110%;
    object-fit: cover;
    position: relative;
}

.secondaryBlogData{
    width: 100%;
    position: absolute;
    bottom: 2.5rem;
    padding: 0 1rem;
    color: white;
}

.secondaryBlogData > h4{
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.secondaryBlogData > .desc{
    color: #fff;
    max-width: 275px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 1.25rem 0;
} 

