.event-list-container {
  padding: 15px;
  background-color: #f8e8dd;
}

.no-results{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5rem;
  font-weight: 400;
  font-size: 16px;
  
}

.event-list-search {
  margin-left: 7rem;
  display: flex;
  transition: 0.2s all;
  margin-bottom: 1rem;
  position: relative;
  width: 40%;
}

.search-icon {
  font-size: 40px;
  display: flex;
  color: rgb(60, 60, 60);
  color: #923a00;
}

.search-type-dropdown {
  font-size: 24px;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #923a00;
  background: #ffd9bf;
  transition: 0.2s all;
  padding-left: 15px;
  padding-right: 15px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: auto;
}

.search-type-dropdown:hover {
  background-color: #ffc198;
}
.event-search-bar {
  margin-left: 0%;
  background-color: #ffd9bf;
  font-size: 24px;
  padding: 3px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-left: 3% !important;
  border: none;
  outline: none;
  transition: 0.2s all;
  display: flex;
  width: 50%;
  color: #923a00;
}

.event-search-bar:hover {
  background-color: #ffc198;
}


.event-list {
  margin-left: 5rem;
  margin-right: 0rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.event-item {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px;
  box-sizing: border-box;
  margin: 1%;
  background-color: #f8eee8;
  border-radius: 10px;
}

.event-item img{
  object-fit: cover;
}

.event-image {
  width: 100%;
  height: 55%;
  border-radius: 5px;
  margin-bottom: 10px;
  object-fit: cover;
  
}

.event-title {
  font-size: 1.5em;
  display: block;
  margin-bottom: 10px;
  font-weight: 600;

}

.event-description {
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: rgb(62, 62, 62);
  font-weight: 400;
}

.event-date {
  display: flex;
  align-items: center;
  color: #923a00;

}

.event-date svg {
  margin-right: 5px;
  color: #923a00;

}

.event-location {
  display: flex;
  align-items: center;
  color: #923a00;
}

.event-location svg {
  margin-right: 5px; /* Adjust the margin as needed */
  color: #923a00;

}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination p{
  margin-left: 2rem;
  margin-right: 2rem;
  font-weight: 700;
  font-size: 18px;
}

.page-button{
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5px;
  padding-left: 1rem;
    padding-right: 1rem;
    background-color: transparent;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    font-weight: 300;

}