img {
    width: 300px;
    height: 300px;
    border-radius: 20%;
    float: left;
    margin-right: 5%;

  }

  .introduction {   
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }

   .text {
        background-color: #ffd0d7;
        margin-left: 27%;

      }
      .title {background-color: #ffd0d7;
    }

    