.intro-section-jess {   /* for intro section */

    display:flex;
    background-color: rgb(225, 207, 255);
    padding: 50px;
    border-radius: 20px;
    justify-content: center;
    position: relative;

}

.img-jess { /* profile image styling */
    display: block;
    float: left;
    width: 300px;
    height: 320px;
    border-radius: 30px;
    position: relative;
  }

  .intro-text { /* intro text styling */
    display: block;
    width: 500px;
    margin: 10px;
    margin-left: 30px;
    align-content: center;
    font-weight: 400;
    font-size: large;
    outline: dotted;
    outline-width: 2 px;
    padding: 30px;
    border-radius: 30px;
    position: relative;
  }