
main {
    background-color: rgba(129, 129, 111, 0.713);
    padding: 50px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between; /* Place sections side by side */
    align-items: stretch; /* Vertically stretch sections to have the same height */
    position: relative;
}

.section{
    background-color: beige;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    flex: 1; /* Allow sections to take equal width and stay side by side */
    margin: 0 10px; /* Add some space between the sections */
    display: flex; /* To vertically center content */
    flex-direction: column; /* Stack content vertically within each section */
}
.image-section {
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    
}

.message {
    margin: 20px 0;
}

.section-name {
    margin: 0; /* Remove default margin to center the text vertically */
    display: flex;
}

.linkedin-icon::before {
    content: "\f08c"; /* Unicode character for LinkedIn icon */
    font-family: FontAwesome; /* Use a font icon library like FontAwesome */
    margin-right: 5px; /* Add some spacing between icon and text */
    color: #0077b5; /* LinkedIn brand color */
}

ul {
    list-style: none; /* Remove default list style */
    padding: 0;
}

li {
    margin-bottom: 5px;
    position: relative; /* Create a relative positioning context */
}

/* Custom arrow bullet point */
li::before {
    content: "➢"; /* Unicode arrow character */
    position: absolute;
    left: 0; /* Adjust the position of the arrow */
    font-size: 17px;
}

.linkedin-logo-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.linkedin-logo {
    width: 40px; 
    height: 40px;
}

.profile-image {
    text-align: center; /* Center the image horizontally */
    margin: 20px 0; /* Add space above and below the image */
}

.nav-image {
    width: 200px;
    height: 400px;
    border-radius: 5%;
    position: relative;
}

