.container{
    min-height: calc(100vh - 60px);
    margin-top: 3rem;
    margin-bottom: 10rem;
}

.wrapper{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.goBack{
    position: absolute;
    text-decoration: none;
    color: #742e00;
    top: 6.5rem;
    left: 5rem;
    display: flex;
    align-items: center;
    gap: 0.2rem;
    background-color: #ffc299;
    padding: 5px 15px;
    border-radius: 50px;
    margin-top: 0.2rem;
    
}

.wrapper > img{
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
}

.titleAndControls{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.controls>.edit{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    background-color: rgb(159, 111, 255);
    color: #fff;
    transition: 0.1s ease-in-out;
}

.controls>.edit:hover{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    background-color: rgb(41, 0, 124);
    color: #fff;
}

.controls > .delete{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    background-color: rgb(215, 76, 76);
    color: #fff;
    transition: 0.1s ease-in-out;

}

.controls > .delete:hover{
    cursor: pointer;
    padding: 0.3rem 0.rgb(139, 0, 0);
    border-radius: 40px;
    background-color: rgb(155, 5, 5);
    color: #fff;
}

.like{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    background-color: rgb(97, 97, 255);
    color: #fff;
    transition: 0.1s ease-in-out;
}

.like:hover{
    cursor: pointer;
    padding: 0.3rem 0.5rem;
    border-radius: 40px;
    background-color: rgb(0, 0, 91);
    color: #fff;
}

.title{
    font-size: 30px;
    color: #000;
    text-transform: capitalize;
}

.descAndLikesViews{
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc{
    margin-top: 2.5rem;
    color: #333;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.75px;
    display: flex;
    flex-direction: column;
    width: 85%;
}

.desc > span{
    color: #000;
    font-size: 22px;
    margin-bottom: 0.5rem;
}


.likesAndViews{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    align-items: flex-end;
    gap: 0.5rem;   
}

.authorAndCreatedAt{
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    color: #333;
    font-size: 18px;
    align-items: center;
}

.authorAndCreatedAt > span > span{
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.createdAt{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-weight: 400;
    font-size: 18px;
    color: #742e00;
}

.userInfo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #ffcba9;
    color: #742e00;
    padding: 5px 5px;
    padding-right: 15px;
    border-radius: 50px;
}
.userInfo > p{
    font-size: 18px;
}

.userInfo > img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50px;
}

