/* Increase padding for better spacing */
.image-column-description {
  text-align: center;
  padding: 40px;
  background-color: rgb(255, 251, 251);
}

/* Adjust margin for better centering */
.centered-heading {
  margin-top: 4%;
  color: #333;
  margin-bottom: 5%;
  font-size: 35px;
  font-weight: 600;
}

/* Fine-tune spacing and alignment */
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.image-item {
  text-align: left;
  box-sizing: border-box;
  margin-bottom: 2%;
  flex-direction: column;
  justify-content: space-between;
  width: 30%; /* Adjust the width as needed */
}

/* Add the following style to control the width of the items on smaller screens */
@media (max-width: 768px) {
  .image-item {
    width: 100%;
  }
}

.author-date{
  display: flex;
  gap: 2rem;
}

.image-item span{
  display: flex;
  width: auto;
  color: #6e3000;
  border-radius: 50px;
  margin-top: 1.5%;
  margin-bottom: 2%;
  justify-content: left;
  text-align: left;
  align-items: center;
  text-decoration: none;
  gap: 0.3rem;
  font-weight: 500;
}

.image-item img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 10px;
}



.image-item h2 {
  color: #333;
  margin-bottom: 5px;
  text-align: left;
}

.image-item p {
  color: #666;
  text-align: left;
  max-width: 400px;
  margin-bottom: 10px;
}

/* Styling for the button */
.image-item button {
  margin-top: 3%;
  background-color: #F1D0B6;
  color: #000000;
  padding: 10px 20px;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
}

/* Hover effect for the button */
.image-item button:hover {
  background-color: #000000;
  color: #F1D0B6;
}
