.container {
  height: auto;
  width: 100%;
  align-items: left;
  justify-content: left;
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-left: 4%;
  background-color: #F8E8DD;
}

.wrapper {
  border-radius: 10px;
  padding: 1.5rem;
}

.title {
  text-align: left;
  margin-bottom: 2.5rem;
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 5%;
}

.inputWrapper {
  width: 100%;
  align-items: center;
  margin-bottom: 0.5rem;
}

.inputWrapper > label {
  margin-right: 15px;
  width: 33%;
}

.inputWrapperImg {
    width: 100%;
    position: relative;
    margin-bottom: 0.5rem;
    margin-right: 11.5%;
}

.inputWrapperImg > label > span {
    position: relative;
width: 20%;
  display: flex;
  padding: 1rem 1.25rem;
  border-color: #000000;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms all;
  border-radius: 3px;
  margin: 0.1rem 5rem;
  background-color: #ffe1ce;
  color: #000000;

}

.inputWrapperImg > label > span:hover {
  background-color: #ffcdaf;
  color: black;
}

.inputWrapperImg  p {
    font-size: 13px;
    margin-left: 6%;
    color: rgb(61, 61, 61);
  }


.imageName {
  position: relative;
margin-left: 6%;  
display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
}

.closeIcon {
  cursor: pointer;
  font-size: 1rem;
}

.input {
    position: relative;
    padding: 0.5rem;
    width: 70%;
    background-color: #ffe1ce;
    border: none;
    border-radius: 3px;
    font-size: 34px;
    transition: 0.1s ease-in-out;
  }
  
 .input:focus{
outline: none;
background-color: #ffcdaf;

 }
  

.inputDesc {
    position: relative;
    padding: 0.5rem;
    width: 70%;
    background-color: #ffe1ce;
    border: none;
    border-radius: 3px;
    font-size: 24px;
    transition: 0.1s ease-in-out;
  }

  .inputDesc:focus{
    outline: none;
    background-color: #ffcdaf;  }


.buttonWrapper {
width: 100%;
  align-items: left;
  justify-content: left;
  margin-top: 2px;
}

.submitBtn {
  white-space: nowrap;
  background-color: #000;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 0px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 150ms all;
  margin-top: 1rem;
  font-size: 18px;
}

.submitBtn:hover {
  background-color: #ffcdaf;
  color: #000;
  border-color: #000;
}

.buttonWrapper p{
    color: #4c4c4c;
    margin-top: 1%;
    max-width: 450px;
    font-size: 14px;
}

.buttonWrapper span{
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.inputWrapperSelect {
    width: 67.5%;
    position: relative;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    margin-right: 32.5%;

  }
  
  .inputWrapperSelect > select {
    position: relative;
    padding: 1rem;
    width: 40%;
    background-color: #ffe1ce;
    border: none;
    border-radius: 3px;
    font-size: 20px;
    transition: 0.1s ease-in-out;
    text-transform: capitalize;
    text-align: left 
  }
  
  .inputWrapperSelect > select:focus {
    outline: none;
    background-color: #ffcdaf;
    border-color: black;
  }
  
  