body {
    align-items: center;
    background-color: rgb(212, 206, 201);
    display: flex;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #ffffff;
    border-radius: 20px;
    box-sizing: border-box;
    height: 650px;
    margin-top: 20px;
    padding: 20px;
    width: 320px;
  }
  
  .title {
    color: #F1D0B6;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(108, 108, 108, 0.5);
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
  }
  
  .ic1 {
    margin-top: 40px;
  }
  
  .ic2 {
    margin-top: 30px;
  }
  
  .input {
    background-color: #F1D0B6;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .cut {
    background-color: #ffffff;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 76px;
  }
  
  .cut-short {
    width: 50px;
  }
  
  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
  }
  
  .placeholder {
    color: #fdfcfc;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    text-align: center;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
  }
  
  .input:focus ~ .placeholder {
    color: #080708;
  }
  
  .submit {
    background-color: #F1D0B6;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #fdfcfc;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgb(216, 147, 118);
  }
  