  .my-title {
    font-family: Helvetica, sans-serif;
    font-size: 50px;
    color: black;
    
    display:inline-block;
  }

  .title-container {
    text-align: center;
    background-color: rgb(245, 153, 123);
    border-radius: 20px;
  }
  
  .my-subtitle {
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-shadow: 2px 2px 4px whitesmoke;
    font-size: 20px;
    opacity: 0.9;

  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .flex-item{
    flex: 1;
    min-width: 600px;
    background-color: rgb(255, 160, 122, 0.6);
    padding: 1%;
    text-align: center;
    margin: 5px;
    border-radius: 20px;
  }

  .item-title{
    text-align: center;
    font-family: Helvetica, sans-serif;
    text-shadow: 2px 2px 4px whitesmoke;
  }

  .item-content{
    display:flexbox;
    font: Arial;
    text-align: left;
    text-indent: 20px;
    font-size: 20px;
    border-radius: 10px;
    gap: 10px;
  }
  

  