/* App.css */

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will scale the video to cover the entire container */
    z-index: -1;
  }
  
  
    .video-overlay {
      text-align: center;
    }

    .video-overlay h1 {
        color: #F1D0B6;
        justify-content: center;
        font-size: 130px;
        text-shadow: 2px 2px 4px rgba(108, 108, 108, 0.5);
      }
  
      .video-overlay h3{
        margin-top: 0%;
        color: #F1D0B6;
        font-weight: 300;
        font-size: 25px;
  
  
      }
  
      .video-overlay h4{
        font-size: 30px;
        margin-top: 13%;
        color: #F1D0B6;
        letter-spacing: .3rem;
        font-weight: 400;
  
      }